<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <mat-card-header>
      <mat-card-title>Search form</mat-card-title>
      <mat-card-subtitle>Feel the magic!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Place a string to search for repositories"
          required
          formControlName="searchTerm"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        type="submit"
        mat-button
        color="primary"
        [disabled]="form.invalid || loading"
      >
        <span *ngIf="!loading">Submit</span>
        <span *ngIf="loading">Searching...</span>
      </button>
      <button type="button" mat-button (click)="onClear()">
        <span>Clear</span>
      </button></mat-card-actions
    >
  </form>
</mat-card>

<br />
<br />

<mat-card>
  <mat-card-header>
    <mat-card-title>Result list</mat-card-title>
    <mat-card-subtitle
      >There are {{ pageEvent.length }} results</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-progress-spinner
      *ngIf="loading"
      mode="indeterminate"
    ></mat-progress-spinner>
    <mat-list *ngIf="!loading">
      <mat-list-item *ngFor="let repository of repositories">
        <img
          matListAvatar
          src="{{ repository.owner.avatar_url }}"
          *ngIf="repository.owner.avatar_url"
        />
        <img
          matListAvatar
          src="assets/github.png"
          *ngIf="!repository.owner.avatar_url"
        />
        <h3 matLine>{{ repository.full_name }}</h3>
        <p matLine>
          <span> {{ repository.description }} </span>
        </p>
      </mat-list-item>
    </mat-list>
    <mat-paginator
      [length]="pageEvent.length"
      [pageSize]="pageEvent.pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPage($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
